@import '../../design-patterns/spacing/_vars.js';
@import '../../components/_vars.js';
@import '../floater/mixins';
@import '../form/_vars.js';

.ax-select__list-container {
  @include floater-insert-tip($spacing-base);
  @include floater-insert-tip-all-sides($spacing-base);
  @include floater-set-tip-color($input-background-color);

  min-width: 150px;
  max-width: 250px;
  padding: $component-padding-v-base $component-padding-h-sm;
  background-color: $input-background-color;
  z-index: $z-index-select;
}

.ax-select__list {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: auto;
}
